*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
}
body {
    background-color:rgb(240,240,240);
}
#heroImage {
    background-color:purple;
    height: 225px;
    width:100%;
}
#search {
    height:40px;
    width:80%;
    margin: -20px auto 0;
    border:1px solid #e7e7e7;
    border-radius:20px;
    background-color:white;
    display:flex;
}
#searchIcon {
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    color: rgb(100,100,100);
}
#searchInput {
    background: none;
    width:calc(100% - 40px);
    height:100%;
    border:none;
    outline: none;;
}
nav {
    height: 80px;
    width:100%;
    background-color:white;
    border-top:1px solid lightgrey;
    position: fixed;
    bottom:0;
    left:0;
    display:flex;
}
nav button {
    flex: 1;
    border:none;
    background:none;
    height:60px;
}
#mainContent {
    padding-bottom:90px;
    padding-top:10px;
}
.sectionRow {
    display:flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    height:220px;
    padding:10px 0;
    -webkit-overflow-scrolling: touch;
}
.sectionRow -webkit-scrollbar {
    display: none;
}
.post {
    flex: 0 0 auto;
    height:200px;
    width:300px;
    background-color:blue;
    margin:0 10px;
    border-radius: 10px;
    display:inline-block;
    background-image: url(craterLake1.jpg);
    background-position:center;
    background-size:cover;
    border:1px solid lightgrey;
}
h2 {
    font-size:18px;
    padding-left:10px;
    margin:20px 0 5px;
}
#heroImage {
    background-image: url(hero.jpg);
    background-position: top;
    background-size:110%;
}